@tailwind base;
@tailwind components;
@tailwind utilities;


.nav-main a,
.nav-main button {
    @apply px-3 py-1.5 text-sm rounded-full transition-colors duration-150;
}

.nav-main a,
.nav-main button {
    @apply text-gray-500 hover:text-gray-700 hover:bg-gray-100;
}

.nav-main .active {
    @apply bg-gray-200 text-gray-800;
}
